<h1>Historias</h1>
<p>En la fig 8. Mostramos el formulario para crear historias.</p>
<p>Autor es el que crea la historia de usuario. Módulo es el módulo en la aplicación si existe. Nombre de la historia. Un identificador de historia. La dependencia a la que pertenece, los responsables de realizar la historia. La iteracción a la que pertenece la historia. Tiempo Estimado, es el tiempo estimado para la historia que se puede ingresar o dar click en el enlace para estimar y que lo calcula automáticamente, luego damos click en el botón enviar y arroja un mensaje de información, indicando que la historia ha sido creada satisfactoriamente.. fig.9</p>
<br><br>
<p><img src="imagenes/photoshop/nuevaHist.jpg" width="791" height="445" alt="nuevaHis" longdesc="imagenes/photoshop/nuevaHist.jpg" /><br />
fig.8 Crear historia.</p>
<p>&nbsp;</p>
<p><img src="imagenes/photoshop/mensEstimaInfo.jpg" width="678" height="395" alt="mensEstimado" longdesc="imagenes/photoshop/nuevaHist.jpg" /><br />
fig 9. historia creada.</p>
<h1>Ventana de estimación</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
