<h1>Ingreso al Sitio Web</h1>
<p align="justify">Para ingresar a la aplicación debe ingresar la siguiente dirección en su navegador web &quot;<a href="http://tendencias.calipso.com.co/">http://tendencias.calipso.com.co/</a>&quot;. A continuación  debe  se debe identificar el usuario digitando un email y un password asignados y dar click en el boton Ingresar (fig.1).</p>
<p><img src="imagenes/photoshop/ident.jpg" width="711" height="258" alt="identificacionUsuario" longdesc="imagenes/photoshop/ident.jpg" /><br />
fig.1 Ingresar al sistema web.</p>
<h1><strong>Crear usuario</strong></h1>
<p>Si no tiene usuario debe crearlo. En la fig. 2 se muestra esta intefaz. Debe digitar el nombre completo, un email, el cual debe ser usado para ingresar, un password y la confimación. Luego dar click en Enviar. El boton de Regresar es para salir sin crear usuario.</p>
<p><img src="imagenes/photoshop/crearUsuario.jpg" width="702" height="228" alt="crearUsuario" longdesc="imagenes/photoshop/crearUsuario.jpg" /><br />
fig.2. Creación de usuario.</p>
<p>Al final  nos muestra un mensaje de información de que el usuario ha sido creado satisfactoriamente. fig.3 y la ventana de login para ingresar con la cuenta nueva creada:</p>
<p><img src="imagenes/photoshop/mensInfo.jpg" width="701" height="220" alt="mensajeInformación" longdesc="imagenes/photoshop/mensInfo.jpg" /><br />
fig.3 Usuario creado.</p>
<h1>&nbsp;</h1>
<h1>Proyectos</h1>
<p>Despues de ingresar al sistema se muestra un listado de los proyectos que ha creado el usuario. Al final del listado de los proyectos hay un boton para crear nuevos proyectos. Por cada proyecto se muestra un número para identificarlo, el nombre, la fecha de creación y unas acciones a ejecutar:</p>
<p><img src="imagenes/photoshop/listaProy.jpg" width="692" height="204" alt="listaProy" longdesc="imagenes/photoshop/listaProy.jpg" /><br />
fig4. Listado de proyectos.</p>
<p><strong>Editar proyecto</strong>:  al dar click en Editar sale un formulario para cambiar el nombre del proyecto y un editor de texto WYSWYG para cambiar su descripción fig.5. Al cambiar la información damos click en el boton enviar.</p>
<p><img src="imagenes/photoshop/editarProy.jpg" width="500" height="298" alt="editarProy" longdesc="imagenes/photoshop/editarProy.jpg" /><br />
fig.5 Editar proyecto.</p>
<p>Posteriormente se visualiza un mensaje de información que dice que el elemento fué actualizado satisfactoriamente fig.6:</p>
<p><img src="imagenes/photoshop/mensEditProy.jpg" width="664" height="297" alt="mensInfEdit" longdesc="imagenes/photoshop/mensEditProy.jpg" /><br />
fig. 6. Proyecto actualizado.</p>
<p>&nbsp;</p>
<p><strong>Historias de proyecto</strong>: Esta opción nos muestra el listado de historias del proyecto, y nos permite crear historias usando el botón Nuevo como se aprecia en la fig. 7. También está la opción de volver a proyectos al dar click en el respectivo botón.</p>
<p><img src="imagenes/photoshop/listaHis.jpg" width="490" height="164" alt="lisHist" longdesc="imagenes/photoshop/listaHis.jpg" /><br />
fig.7. historias de proyecto.</p>
<p>&nbsp;</p>
<h1>Historias</h1>
<p>En la fig 8. Mostramos el formulario para crear historias.</p>
<p>Autor es el que crea la historia de usuario. Módulo es el módulo en la aplicación si existe. Nombre de la historia. Un identificador de historia. La dependencia a la que pertenece, los responsables de realizar la historia. La iteracción a la que pertenece la historia. Tiempo Estimado, es el tiempo estimado para la historia que se puede ingresar o dar click en el enlace para estimar y que lo calcula automáticamente, luego damos click en el botón enviar y arroja un mensaje de información, indicando que la historia ha sido creada satisfactoriamente.. fig.9</p>
<p><img src="imagenes/photoshop/nuevaHist.jpg" width="791" height="445" alt="nuevaHis" longdesc="imagenes/photoshop/nuevaHist.jpg" /><br />
fig.8 Crear historia.</p>
<p>&nbsp;</p>
<p><img src="imagenes/photoshop/mensEstimaInfo.jpg" width="678" height="395" alt="mensEstimado" longdesc="imagenes/photoshop/nuevaHist.jpg" /><br />
fig 9. historia creada.</p>
<h1>Ventana de estimación</h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
