<h1>Ingreso al Sitio Web</h1>
<p align="justify">Para ingresar a la aplicación debe ingresar la siguiente dirección en su navegador web &quot;<a href="http://tendencias.calipso.com.co/">http://tendencias.calipso.com.co/</a>&quot;. A continuación  debe  se debe identificar el usuario digitando un email y un password asignados y dar click en el boton Ingresar (fig.1).</p>
<br><br><p><img src="imagenes/photoshop/ident.jpg" width="711" height="258" alt="identificacionUsuario" longdesc="imagenes/photoshop/ident.jpg" /><br />
fig.1 Ingresar al sistema web.</p>
<br><br><h1><strong>Crear usuario</strong></h1>
<p>Si no tiene usuario debe crearlo. En la fig. 2 se muestra esta intefaz. Debe digitar el nombre completo, un email, el cual debe ser usado para ingresar, un password y la confimación. Luego dar click en Enviar. El boton de Regresar es para salir sin crear usuario.</p>
<p><br><img src="imagenes/photoshop/crearUsuario.jpg" width="702" height="228" alt="crearUsuario" longdesc="imagenes/photoshop/crearUsuario.jpg" /><br />
fig.2. Creación de usuario.</p>
<p><br>Al final  nos muestra un mensaje de información de que el usuario ha sido creado satisfactoriamente. fig.3 y la ventana de login para ingresar con la cuenta nueva creada:</p>
<p><img src="imagenes/photoshop/mensInfo.jpg" width="701" height="220" alt="mensajeInformación" longdesc="imagenes/photoshop/mensInfo.jpg" /><br />
fig.3 Usuario creado.</p>
<h1>&nbsp;</h1>
