#sf_admin_container a
{
  color: #464646;
  text-decoration: none;
}

#sf_admin_container a:hover
{
  color: #000;
  text-decoration: underline;
}

#sf_admin_container h1
{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#sf_admin_container th
{
  background-color: #e7eef6;
  white-space: nowrap;
}

#sf_admin_container td, #sf_admin_container th
{
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

#sf_admin_container tr
{
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#sf_admin_container ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}

#sf_admin_container ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
  color: #fff;
  background: url(/images/error.png) no-repeat 4px 4px;
}

#sf_admin_container tr:hover
{
  background-color: #ffe;
}

#sf_admin_container input, #sf_admin_container textarea
{
  width: auto;
}

#sf_admin_container .radio_list, #sf_admin_container .checkbox_list
{
  margin: 0;
}

#sf_admin_container .radio_list li, #sf_admin_container .checkbox_list li
{
  list-style: none;
  display: inline;
}

#sf_admin_container .double_list_select, #sf_admin_container .double_list_select-selected
{
  width: 12em;
}

#sf_admin_container .double_list_label
{
  font-weight: bold;
}

#sf_admin_container tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}

#sf_admin_container thead img, #sf_admin_container tfoot img
{
  vertical-align: middle;
}

#sf_admin_bar
{
/*   float: left; */
  margin-bottom: 20px;
  display: none;
}

.sf_admin_pagination
{
  float: right;
}

#sf_admin_container ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
 /* margin-right: 10px;*/
  font-size: 90%;
  /*background-color:green;*/
  padding:0px;
  margin:0px;
}

#sf_admin_container ul.sf_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
}

#sf_admin_container ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
  /*margin-right: 10px;*/
}

#sf_admin_container ul li a
{
  /*padding-left: 20px;*/
  background: url(/images/default.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_new a
{
  background: url(/images/new.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete a
{
  background: url(/images/delete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_list a
{
  background: url(/images/list.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit a
{
  background: url(/images/edit.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_borrar_usuarios a
{
  background: url(/images/icons/16x16/user_remove.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_password a
{
  background: url(/images/icons/16x16/lock.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_show a
{
  background: url(/images/default.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_usuarios a
{
  background: url(/images/icons/16x16/user.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_ips a
{
  background: url(/images/ip.jpg) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_usuarios_csv a
{
  background: url(/images/icons/16x16/page_down.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_inactivos a
{
  background: url(/images/icons/16x16/user_inactive.png) no-repeat 0 0;

}

#sf_admin_container ul li.sf_admin_action_csv a
{
  background: url(/images/icons/16x16/page_down.png) no-repeat 0 0;

}

#sf_admin_container .notice
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(/images/tick.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

#sf_admin_container .error
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f33;
  color: #fff;
}

#sf_admin_container .sf_admin_row_0 td
{
}

#sf_admin_container .sf_admin_row_1 td
{
/*  background-color: #eee;*/
}

#sf_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ccf;
  font-size: 11px;
}

#sf_admin_container fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

#sf_admin_container fieldset.collapsed * { display:none; }
#sf_admin_container fieldset.collapsed h2, #sf_admin_container fieldset.collapsed { display:block !important; }
#sf_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#sf_admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#sf_admin_container label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
}

#sf_admin_container ul label, #sf_admin_container td label
{
  display: inline;
  float: none !important;
}

#sf_admin_container .sf_admin_form_row
{
  clear: both;
  /*padding: 10px;*/
  border-bottom: 1px solid #ddd;
}

#sf_admin_container .sf_admin_form_row .content
{
  padding-left: 9em;
}

#sf_admin_container .help
{
  padding-left: 9em;
  color: #aaa;
}

#sf_admin_container td .help
{
  padding-left: 0;
}

#sf_admin_container .errors input, #sf_admin_container .errors select
{
  border: 1px solid #f22;
}

.sf_admin_list .sf_admin_boolean
{
  text-align: center;
}

#filtro
{
float: left;
margin-left: 15px;
margin-top: 15px;
background-color: transparent;
background-image: url(/images/right_gray.gif);
/*border: solid 1px;
border-bottom: 0px;*/
padding: 8px;
padding-bottom: 3px;
}

#filtro a
{
color: #5d5650;
text-decoration: none;
}
