h1
{
}

h2
{
  margin-top: -30px;
  font-size: 110%;
  font-style: italic;
  padding: 5px 20px;
  float: right;
  color: #fff;
}

h3
{
  font-size: 150%;
  margin: 15px 10px;
  padding: 10px 0;
  font-weight: bold;
}

h3 small
{
  font-size: 70%;
  color: #5d6162;
}

h4
{
  font-size: 110%;
  margin: 20px 10px 7px;
  font-weight: bold;
  color: #176f94;
}

p
{
  font-size: 105%;
  line-height: 1.4em;
  margin: 0 10px;
  color: #333;
}

#job_actions
{
  margin: 3px 0;
  padding: 7px;
  padding-left: 0;
  background-color: #ffc;
  list-style: none;
}

ul
{
  display: inline;
}

h3
{
  display: inline;
  font-weight: bold;
  margin-right: 15px;
  padding: 7px;
  background-color: #eee;
}

li
{
  display: inline;
  margin-right: 7px;
}

.expires_soon
{
  color: red;
}



.meta
{
  float: right;
  color: #77766F;
  margin-right: 10px;
  font-size: 85%;
}
