#content a
{
  color: #464646;
  text-decoration: none;
}

#content a:hover
{
  color: #000;
  text-decoration: underline;
}



#content th
{
  background-color: #e7eef6;
  white-space: nowrap;
}

#content td, #content th
{
  border: 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

#content tr
{
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#content ul.error_list
{
  margin: 0;
  margin-bottom: 7px;
/*  color: #d33;*/
  border: none;
/*  background-color: #f33;*/
  color: #D8000C;
  background-color: #FFBABA;
}

#content ul.error_list li
{
  padding: 4px;
  padding-left: 25px;
  list-style: none;
/*  color: #fff;*/
  background: url(../images/error.png) no-repeat 4px 4px;
  color: #D8000C;
}

#content tr:hover
{
  background-color: #ffe;
}

#content input, #content textarea
{
  width: auto;
}

#content .radio_list, #content .checkbox_list
{
  margin: 0;
}

#content .radio_list li, #content .checkbox_list li
{
  list-style: none;
  display: inline;
}

#content .double_list_select, #content .double_list_select-selected
{
  width: 12em;
}

#content .double_list_label
{
  font-weight: bold;
}

#content tfoot td
{
  margin: 0;
  list-style: none;
  text-align: right;
}

#content thead img, #content tfoot img
{
  vertical-align: middle;
}

#sf_admin_bar
{
/*   float: left; */
  margin-bottom: 20px;
}

.sf_admin_pagination
{
  float: right;
}

#content ul.sf_admin_td_actions
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#content ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  font-size: 90%;
}

#content ul.actions
{
  margin: 10px 0;
  list-style-type: none;
}

#content ul.actions li
{
  list-style-type: none;
  display: inline;
  margin-right: 10px;
}

#content ul li a
{
  padding-left: 20px;
  background: url(../images/default.png) no-repeat 0 0;
}


#content ul li.action_new a
{
  background: url(../sfDoctrinePlugin/images/new.png) no-repeat 0 0;
}

#content ul li.action_delete a
{
  background: url(../sfDoctrinePlugin/images/delete.png) no-repeat 0 0;
}

#content ul li.action_list a
{
  background: url(../sfDoctrinePlugin/images/list.png) no-repeat 0 0;
}

#content ul li.action_edit a
{
  background: url(../sfDoctrinePlugin/images/edit.png) no-repeat 0 0;
}
/*
#content ul li.sf_admin_action_password a
{
  background: url(../../images/icons/16x16/lock.png) no-repeat 0 0;
  margin-left: 30px;
}
*/
#content ul li.sf_admin_action_show a
{
/*  margin-left: 30px;*/
}

#content .notice
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/tick.png) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

#content .error
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/error.png) no-repeat 10px 4px;
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;*/
  color: #D8000C;
  background-color: #FFBABA;
}
}

#content .sf_admin_row_0 td
{
}

#content .sf_admin_row_1 td
{
/*  background-color: #eee;*/
}

#content fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #ccf;
  font-size: 11px;
}

#content fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

#content fieldset.collapsed * { display:none; }
#content fieldset.collapsed h2, #content fieldset.collapsed { display:block !important; }
#content fieldset.collapsed .collapse-toggle { display: inline !important; }
#content fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#content fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#content label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
}

#content ul label, #content td label
{
  display: inline;
  float: none !important;
}

#content .sf_admin_form_row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#content .sf_admin_form_row .content
{
  padding-left: 9em;
}

#content .help
{
  padding-left: 9em;
  color: #aaa;
}

#content td .help
{
  padding-left: 0;
}

#content .errors input, #content .errors select
{
  border: 1px solid #f22;
}

.sf_admin_list .sf_admin_boolean
{
  text-align: center;
}


#content  table
{ margin: 0px auto;

}

#content input[type="text"], #content input[type="password"], #content textarea {

width: 40em;

}

#content .sf_admin_filter input[type="text"], #content .sf_admin_filter textarea {

width: 20em;

}
