/*Main menu tabs */

#mainMenu {
float:left;
width:100%;
background:#DAE0D2 url("../images/bg2.gif") repeat-x bottom;
font-size:95%;
line-height:normal;
}
#mainMenu ul {
margin:0;
padding:10px 10px 0;
list-style:none;
}
#mainMenu li {
float:left;
background:url("../images/left_gray.gif") no-repeat left top;
/*margin:0;*/
margin-left:7px;
list-style: none;
padding:0 0 0 9px;
}
#mainMenu a {
float:left;
line-height:1.8em;
display:block;
background:url("../images/right_gray.gif") no-repeat right top;
padding:5px 15px 4px 6px;
margin-left:0px;
text-decoration:none;
font-weight:bold;
text-align:center;
color:#5d5650;

}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
#mainMenu a {float:none;}
/* End IE5-Mac hack */
#mainMenu a:hover {
color:#333;
font-weight:bolder;

}
#mainMenu #current {
background-image:url("../images/left_on_gray.gif");
}
#mainMenu #current a {
background-image:url("../images/right_on_gray.gif");
color:#5d5650;
padding-bottom:5px;
}


#subMenu {
float:left;
width:100%;
font-size:90%;
line-height:normal;
background:#FFFFFF  url("views/images/bg_white.gif") repeat-x bottom;
border-bottom: 1px solid #999;
margin-bottom: 5px;
}
#subMenu ul {
margin:0;
padding:0;
list-style:none;

}
#subMenu li {
float:left;
/*margin:0;*/
margin-left:3px;
list-style: none;
padding:0 0 0 9px;
}
#subMenu a {
float:left;
line-height:1.8em;
display:block;
padding:5px 15px 4px 6px;
margin-left:0px;
text-decoration:none;
/*font-weight:bold;*/
text-align:center;
color:#000000;
width:100px;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
#subMenu a {float:none;}
/* End IE5-Mac hack */
#subMenu a:hover {
color:#00459F;
font-weight:bold;
}
#subMenu #current a {
color:#00459F;
font-weight:bold;
}/*
#mainMenu #current a {
color:#333;
padding-bottom:5px;
}*/


#subMenu2 {
float:left;
width:100%;
font-size:90%;
line-height:normal;
background:#FFFFFF  url("views/images/bg_white.gif") repeat-x bottom;
border-bottom: 1px solid #999;
margin-bottom: 5px;
}
#subMenu2 ul {
margin:0;
padding:0;
list-style:none;

}
#subMenu2 li {
float:left;
/*margin:0;*/
margin-left:3px;
list-style: none;
padding:0 0 0 9px;
}
#subMenu2 a {
float:left;
line-height:1.8em;
display:block;
padding:5px 15px 4px 6px;
margin-left:0px;
text-decoration:none;
/*font-weight:bold;*/
text-align:center;
color:#000000;
width:100px;
}
/* Commented Backslash Hack
hides rule from IE5-Mac \*/
#subMenu2 a {float:none;}
/* End IE5-Mac hack */
#subMenu2 a:hover {
color:#00459F;
font-weight:bold;
}
#subMenu2 #current a {
color:#00459F;
font-weight:bold;
}
